In [1]:
import logging
logging.basicConfig(level=logging.INFO)

from pystatis import Table
from pystatis import db

In [2]:
t = Table(name="21311-0001")

In [3]:
t.get_data()

genesis

INFO:pystatis.http_helper:Code 0: erfolgreich

In [4]:
t.name

'21311-0001'

In [ ]:
t.raw_data

In [5]:
t.data

     Statistik_Code          Statistik_Label Zeit_Code Zeit_Label        Zeit 1_Merkmal_Code        1_Merkmal_Label 1_Auspraegung_Code 1_Auspraegung_Label 2_Merkmal_Code 2_Merkmal_Label 2_Auspraegung_Code 2_Auspraegung_Label 3_Merkmal_Code 3_Merkmal_Label 3_Auspraegung_Code 3_Auspraegung_Label  BIL002__Studierende__Anzahl
0             21311  Statistik der Studenten    SEMEST   Semester  WS 1998/99          DINSG  Deutschland insgesamt                 DG         Deutschland            NAT    Nationalität               NATD            Deutsche            GES      Geschlecht               GESM            männlich                       907403
1             21311  Statistik der Studenten    SEMEST   Semester  WS 1998/99          DINSG  Deutschland insgesamt                 DG         Deutschland            NAT    Nationalität               NATD            Deutsche            GES      Geschlecht               GESW            weiblich                       727254
2             21311  Statistik der Studenten    SEMEST   Semester  WS 1998/99          DINSG  Deutschland insgesamt                 DG         Deutschland            NAT    Nationalität               NATD            Deutsche            GES      Geschlecht                NaN           Insgesamt                      1634657
3             21311  Statistik der Studenten    SEMEST   Semester  WS 1998/99          DINSG  Deutschland insgesamt                 DG         Deutschland            NAT    Nationalität               NATA           Ausländer            GES      Geschlecht               GESM            männlich                        92321
4             21311  Statistik der Studenten    SEMEST   Semester  WS 1998/99          DINSG  Deutschland insgesamt                 DG         Deutschland            NAT    Nationalität               NATA           Ausländer            GES      Geschlecht               GESW            weiblich                        73673
..              ...                      ...       ...        ...         ...            ...                    ...                ...                 ...            ...             ...                ...                 ...            ...             ...                ...                 ...                          ...
220           21311  Statistik der Studenten    SEMEST   Semester  WS 2022/23          DINSG  Deutschland insgesamt                 DG         Deutschland            NAT    Nationalität               NATA           Ausländer            GES      Geschlecht               GESW            weiblich                       213717
221           21311  Statistik der Studenten    SEMEST   Semester  WS 2022/23          DINSG  Deutschland insgesamt                 DG         Deutschland            NAT    Nationalität               NATA           Ausländer            GES      Geschlecht                NaN           Insgesamt                       458210
222           21311  Statistik der Studenten    SEMEST   Semester  WS 2022/23          DINSG  Deutschland insgesamt                 DG         Deutschland            NAT    Nationalität                NaN           Insgesamt            GES      Geschlecht               GESM            männlich                      1444125
223           21311  Statistik der Studenten    SEMEST   Semester  WS 2022/23          DINSG  Deutschland insgesamt                 DG         Deutschland            NAT    Nationalität                NaN           Insgesamt            GES      Geschlecht               GESW            weiblich                      1476138
224           21311  Statistik der Studenten    SEMEST   Semester  WS 2022/23          DINSG  Deutschland insgesamt                 DG         Deutschland            NAT    Nationalität                NaN           Insgesamt            GES      Geschlecht                NaN           Insgesamt                      2920263

[225 rows x 18 columns]

In [ ]:
from pprint import pprint

pprint(t.metadata)